html {
    background: linear-gradient(135deg, cyan, darkblue);


}
h2 {

    margin: 1.5em 0 0 1.5em;
    
}

.juego {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 70vmin;
    height: 70vmin;
    justify-content: space-between;
    align-content: space-between;
}

.button {
    background: whitesmoke;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 25px;
    font-size: 12vmin;
    color: darkblue;


}

#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 6px;
    border: none;
    background-color: bisque;
    color: black;
    align-items: center;
    display: block;
    margin: 1.5em auto 0 auto;
}